*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: white;
}

body{
    background: black;
    overflow: hidden;
}

.buttons{
    position: absolute;
    top: 30%;
    left: 0;
    width:100vw;
    text-align:center;
}
#canvas1{
    background:black;
    filter: blur(10px) contrast(5);
}


.button{
    position: relative;
    width: 100%;
    height: 600px;
    margin: 0px;
    display: inline-block;
    border-radius: 0px;
    border: 0px solid white;
    background:transparent;
    transition:0.5s;
    font-size: 50px;
    font-weight: 900;
    color: white;
    line-height: 110px;
    min-width: 300px;
}

.button::before{
    content: '';
    position: absolute;
   /* background: red; */
    width:100%;
    height: 100%;
    top:0;
    left:0;
    border-radius: 50px;
    transition: 0.10s;
}
button:nth-child(1)::before{
    content: 'Vanilla Planet!';
}
button:nth-child(2)::before{
    content: 'Adam';    
}
button:nth-child(3)::before{
    content: 'Elsayed';

}
button:hover::before{
    color: white;
    box-shadow: inset 10px 10px 15px white,
    inset -10px -10px 15px white,
    inset -10px 10px 15px white,
    inset 10px -10px 15px white;
    background: white;
    
    text-shadow: 5px 5px 5px gray,
     -5px -5px 5px white,
     -5px 5px 5px white,
      5px -5px 5px white;
}
.button:hover{
    box-shadow:  10px 10px 15px white,
     -10px -10px 15px white,
     -10px 10px 15px white,
      10px -10px 15px white;
      border: 5px solid white;
      background: white;
  
}

















































